#root {
  /* max-width: 1280px; */
  height: 100vh; 
  /* width: 100%; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.horse-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

tr:hover td {
  background-color: lightblue;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar {
  flex: 1;
  background-color:#61dafbaa
}

.race-button {
  background-color: #03bcff !important;
  margin: 5px !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
